#list {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid;
  
}
  thead{
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
 tr:nth-child(even) {
    background-color: #ccc;
  }
  tr.no-records-row td {
    text-align: center;
  }

