table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid;
  }
  
  td,
  th {
    border: 3px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #999;
  }
  tr{
    font-size: 20px;
  }
  
  tr.no-users-record td {
    text-align: center;
    color: red;
    font-size: 20px;
  }

  #deletebtn{
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    width: 40%;
  }

  #clear{
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: yellow;
    color: brown;
    width: 10%;
    font-size: 20px;
  }

  #refresh{
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: black;
    width: 10%;
    font-size: 20px;
  }

  .form-header{
    font-size: 30px;
  }

